body{
    background-color: black;
    color: yellow;
    font-family:'Franklin Gothic Medium';
    font-size: 2em;
    
    table{
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        th{
            border: 1px yellow solid;

        }
        td{
            border: 1px yellow solid;

        }
        
    }
}
